



#create-rol-form .ctn .ctn-col-10{
  margin:10px 0px;
}




.form-create-user .form-elms-ctn-acceso .ctn-col-10, .form-create-user .form-elms-ctn-info .ctn-col-10, .form-create-user .form-elms-ctn-estado .ctn-col-10{
  padding:3px 0px !important;
}
.sel-rol-btn{
  padding: 10px; */
    margin-top: 5px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 0;
    /* border-bottom: 2px solid black; */
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.sel-rol-btn:hover{
  color:red;
}




.btn-sub-menu[data-btn="createUser"]:after{
  content: 'Crear Usuario';
}
.btn-sub-menu[data-btn="createRol"]:after{
  content: 'Crear Rol';
}
.btn-sub-menu[data-btn="createUser"] svg,
.btn-sub-menu[data-btn="createRol"] svg
{
  color: white;
  width: 100%;
  font-size: 14pt !important;
  transition: .3s ease-in-out;
}
.btn-sub-menu[data-btn="createUser"] svg:hover,
.btn-sub-menu[data-btn="createRol"] svg:hover
{
  color:red;
}
.btn-sub-menu[data-btn="createUser"]:after,
.btn-sub-menu[data-btn="createRol"]:after{
    position: absolute;
    margin-top: -12px;
    display:none;
    font-size: 12px;
    overflow: hidden;
    transition: .3s ease-in-out;
    padding: 7px;
   
    left: -48px;
    top: -10px;
    background-color: red;
    color: white;
}
.btn-sub-menu[data-btn="createUser"]:hover::after,
.btn-sub-menu[data-btn="createRol"]:hover::after{
  display: inline;
}

.module-tools{
  width: 63px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 48px;
    margin: 0;
    height: 100%;
    box-shadow: 0px 2px 2px #666;
}
.module-tools-list{
  padding: 0px;
    list-style: none;
    margin-top: 45px;
}
.module-tools-list li{
  padding: 0px;
  margin:0px;
}
.module-tools-list li button{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  border-radius: 0px;
  font-size: 13pt;
}







.hamMenuBtn{
  top: 67px;
    left: 25px;
    color: red;
}
.header-title-ctn{
  text-align: left;
  width: 53px;
    background-color: black;
    padding: 5px;
    text-align: center;
}
.header-mobile .ctn-col-1:nth-child(1){
  width: 0;
}

/*LOGIN*/

.ctn-login{
	width: 350px;
    margin: auto !important;
    margin-top: -41px !important;
    padding: 20px;
    border-radius: 5px;
   
}

.login-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, .7);

}
.login-form .ctn-col-10{
	margin-bottom:20px !important;
}



body{
	/*background-image: url('/estaticos/img/hqbg.jpg');*/
}
/*MESSAGE BOXES*/
.message-box{
	width:400px;
}

.menu{
  width: 250px !important;
}

/*===================================================================================================================================================*/
.header-mobile{
  position: fixed;
    padding: 1px 0px;
    box-shadow: 0px 0px 4px #888;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 11;
}
  
.contener-fixed{
    position: relative;
    left: 0px;
    margin: 0px auto;
    margin-left: 66px;
    padding: 0px;
    max-width: 1350px;
    top: 60px;
}

.content{
  background-color:green;
  height:100%;
}

.user-menu-list{
  list-style:none;
  padding:0px;
  padding-left:0px
}


.sub-menu{
  transition: .3s ease-in-out;
    font-size: 8pt;
    
    background-color: #fefefe;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    overflow: hidden;
    
}
.sub-menu ul{
    list-style: none;
    padding-left: 22px;
}

.main-sub-menu{
  font-size: 10pt;
  list-style:none;
  margin:0px;
  padding:0px;
}
.main-sub-menu li a{
  display: block;
  padding: 10px 0px;
}
.main-sub-menu .fa{
  color:#A0A0A0;
  font-size: 11pt;
}
/*USER MODULE CTN*/
.users-module-ctn{
  max-width: 800px;
    margin: auto;
    margin-top: 23px;
    /* padding: 10px; */
    position: relative;

}
.search-box-ctn{
  text-align: center;
}
.search-box-ctn .text-box{
    padding: 10px;
    width: 95%;
    font-size: initial;
    font-size: 10pt;
    margin-top: 8px;
    margin-left: 20px;
}


.users-add-btn{
 color: red;
    cursor: pointer;
    font-size: 22px;
    margin-left: 40px;
    background-color: transparent;
    border: none;
}
.users-add-btn:hover{
  color:darkred;
}

.user-module-tool-bar{
  border-bottom: solid 1px #ccc;
  background-color: black;
  padding: 12px 0px;
  box-shadow: 0px 1px 1px #ccc;
  border-bottom: 2px solid red;
}
.user-module-tool-bar .title{
  margin: 0 22px;
    color: white;
    text-align: center;
    font-size: 22px;
}
.user-module-tool-bar .back-btn{
  left: 15px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 17px;
  top: 5px;
  cursor: pointer;
}
.user-module-tool-bar .back-btn:hover{
  color:red;
}
.user-module-tool-bar .back-btn:focus{
  outline: none;
}

.user-module-tool-bar .sub-menu-ctn-mobil{
  background-color: transparent;
  margin-left: 49px;
}
.sub-menu-ctn-mobil {
    background-color: transparent;
    padding: 2px 0px;
    margin: auto;
    margin-top: 14px;
    width: 332px;
}
.user-module-nav-btns{
  display: block;
  position: relative;
  width:145px;
}
.user-module-nav-btns .btn{
  border-radius: 0px;
  border: none;
  font-size: 10pt;
  padding: 13px;
  margin-right: 3px;
  position: absolute;
  top:-39px;
  background-color: transparent;
}
.user-module-nav-btns .btn:nth-child(1){
  border: solid 1px #000;
  border-top: 2px solid #e1001a;
  border-bottom: none;
  background-color: black;
  color:white;
  z-index: 1;
}
.user-module-nav-btns .btn:nth-child(2){
  right: 0;
}

.user-module-nav-btns .btn:focus{
  outline:none;
}

/*FORMS*/
.form-create-user, .form-create-rol{
    width: 90%;
    margin: auto;
   
    overflow: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 37px #000;
   
}
.form-create-user .user-reg-btn,
.form-create-rol .user-create-rol-btn
{
     font-size: 14px;
    padding: 10px;
    width: 100%;
   
    border-radius: 0;
   
    background-color: black;
    color: white;
    margin-top: 20px;
}
.form-create-user .user-reg-btn:hover,
.form-create-rol .user-create-rol-btn:hover{
  color: red;
  background-color: #222;
  cursor: pointer;
}
.form-create-user .title, .form-create-rol .title{
       margin: 0;
    text-align: center;
}
.form-create-user .form-elms-ctn-acceso .ctn-col-10,
.form-create-user .form-elms-ctn-info .ctn-col-10,
.form-create-user .form-elms-ctn-estado .ctn-col-10{
  width: 50%;
  padding:10px 0px;
}
.form-create-user .form-elms-ctn-estado .ctn-col-10{
   padding:3px 10px;
}
.form-create-user .ctn .ctn-col-10 input[type="text"],
.form-create-user .ctn .ctn-col-10 input[type="password"]{
  width: 98%;
  margin:auto;
}
.users-main-ctn{
    height: 590px;
    border-top: none;
    overflow: auto;
    position: relative;
    background-color: #fefefe;
    
    box-shadow: 0px 1px 2px #ddd;
}
.user-list-result-ctn .ctn-tbl-row{
  background-color: white;
}
.users-close-forms-ctn-btn{
      position: absolute;
    top: 14px;
    right: 20px;
    color: red;
    cursor:pointer;
}

.t-result-ctn{
     padding: 10px 20px;
         border-bottom: 1px solid #ddd;
}
.t-result-ctn .btn-basic{
  margin-right: 3px;
  background-color: transparent;
  border: none;
  border-radius: 0px !important;
}
.t-result-ctn .btn-basic:hover{
  border-bottom:1px solid red;
}
body{

background-color: #f1f1f1;
}

/*reports*/
.report-imge{
    width: 140px;
}
.reports-table-main-ctn{
    width: 100%;
    max-width:95%;
    margin: auto;
}
.reporte-titulo-principal{
    margin: 0px;
    margin-top: 38px;
}
.reporte-encabezado{
    position:absolute;
    width:100%;
    height:80px;
    left:0;
}
.reporte-encabezado-bg-1{
    background-color:black;
}
.reporte-encabezado-bg-2{
    border-bottom:2px solid red;
}
.reporte-sub-titulo{
   
}
.reporte-texto{
    font-size: 12px;
    padding:20px 0px;
}
.preview-sheet{
    
    position: relative;
   background-color: white;
    white-space: nowrap;
    box-shadow: 0px 3px 2px #ccc;
    margin: auto;
    padding: 30px;
    min-height: 550px;
    width: 85%;


}

.preview-sheet-copy{
    display:none;
    position:absolute;
    z-index:-1;
}
#module-reports{
   width:90%;
   margin:auto;
   margin-top:20px
}

#module-reports .fields-list-ctn{
}

#module-reports .tbl-list-ctn .table-item{
    padding:5px;
    display:block;
    font-size: 12px;
    font-weight: 600;
}
#module-reports .fields-list-ctn .field-item{
    padding:3px;
    display:block;
    font-size: 12px;
    color:#888;
}



