/*module users*/
.mobile-window-ctn{
  width: 100%;
}




.module-tools {
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: white;
    position: fixed;
    z-index: 10;
    /* top: 48px; */
    bottom: 0;
    margin: 0;
    /* height: 100%; */
    box-shadow: 0px 2px 2px #666;
}
.module-tools-list {
    padding: 0px;
    list-style: none;
    /* margin-top: 45px; */
    margin:0;
}
.module-tools-list li button {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    border-radius: 0px;
    font-size: 13pt;
}
.module-tools-list li button::after{
  display: none !important;
}
.module-tools-list li {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 50%;
}







/*TEXT COLORS*/
.text-gray{
  color: #817575;
}
.dark-red{
  color:darkred;
}
.text-slogan-light-gray{
  font-size: 10pt;
  color:#ccc;
  font-style: italic;
}

.header-mobile{
	width: 100%;
	padding: 8px 0px;
}


.ctn-responsive{
  width: 100%;
}


.logo-ctn{
  position: relative;
  margin: auto;

}
.hq-drop{
    transform: rotate(-69deg) !important;
    border: 5px solid #eee;
    margin: auto;
    box-shadow: -1px 3px 1px #ccc;
}
.logo-hq-letters{
  position: absolute;
    top: -64px;
    left: 49%;
    color: #EB1C34;
    font-size: 63pt;
    font-family: 'Francois One', sans-serif;
    letter-spacing: -8px;

}






/*ROLES*/
.bg-admin{
  width: 100%;
  height: 7%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:#78909B;
}
/*===================================================================================================================================================*/

/*MENU*/
.menu{
  background-color:white;
  position: fixed;
  left: -102%;
  top:0px;
  height:100%;
  box-shadow: 1.2px 0px 2px #999;
  transition: 0.2s ease-in-out;
  z-index: 110;
}
.menu-show{
	left:0%;
}
.menu-link{
  display: block;
  width: 100%;
  padding: 10px 0px;
}
.menu-link:active{
  background-color: #ccc;
}
.menu-link:hover{
  font-style: none;
}
.menu .fa{
  margin: 0px 16px;
  font-size: 13pt;
  color: #444;
  margin-right: 42px;
}

.content{
  background-color:green;
  height:100%;
}
.user-box{
  margin-top:50px;
}
.user-menu-list{
  list-style:none;
  padding:0px;
  padding-left:0px
}


.sub-menu{
  transition: .3s ease-in-out;
    font-size: 8pt;
    
    background-color: #fefefe;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    overflow: hidden;
    
}
.sub-menu ul{
    list-style: none;
    padding-left: 22px;
}

.main-sub-menu{
  font-size: 10pt;
  list-style:none;
  margin:0px;
  padding:0px;
}
.main-sub-menu li a{
  display: block;
  padding: 10px 0px;
}
.main-sub-menu .fa{
  color:#A0A0A0;
  font-size: 11pt;
}
/*===================================================================================================================================================*/
/*FORMS*/
.login-form{
  width:82%;
  margin:auto;
  margin-top:25px;
  position: relative;
}
#create-user-form .parsley-errors-list, #create-rol-form .parsley-errors-list, .login-form .parsley-errors-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
#create-user-form .parsley-errors-list li, #create-rol-form .parsley-errors-list li, .login-form .parsley-errors-list li{
  text-align: left;
  font-style: italic;
  color: #bbb;
}





#create-rol-form{
  padding:15px;
}



/*===================================================================================================================================================*/

/*COMPONENT*/
/*BTNS*/




/*TEXT BOXES*/
.text-box-login{
  padding-left:30%;
}
.text-box-login:focus{
  border:solid 1px #aaa;
}






/*===================================================================================================================================================*/
/*CREATE USER FORM*/
.create-user-form{
  width:90%;
  margin:auto;  
}
/*===================================================================================================================================================*/

/*SEARCH BOX*/
.search-box-ctn{
  position: fixed;
  width: 95%;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 10px;
  z-index:15;
}
.search-box-ctn input[type="text"]{
    padding: 7px;
    font-size: 10pt;
 
}
.search-box-ctn input::-webkit-input-placeholder {
  font-style: italic;
  color:#ccc;
}
.mag-glass-btn{
  display: block;
  padding:2px;
}

/*===================================================================================================================================================*/
/*LOGIN*/

.login-bg{
  width:  100%;
}
.login-form button{
  margin-top: 46px !important;
  background-color: #000;
  padding: 8px;
  border: 1px solid black;
  color: white;

}
.login-form button:hover{
  background-color: #333;
}
.login-form .text-box-login{
           padding-left: 30%;
    background-color: rgba(255,255,255,.7);
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: #666 0px 0px 2px inset;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.login-form .text-box-login:focus{
  border:solid 1px #aaa;
}
.login-form .text-box-icon{
  position: absolute;
    padding: 11px;
    font-size: 10pt;
    display: block;
    border-right: 1px solid #000;
    padding-right: 2%;
    padding-left: 3%;
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
}
.login-bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .7);

}






.user-module-tool-bar .ctn-col-5{
    width: 100%;
}




.hamMenuBtn{
  left: 14px;
    top: 12px;
}


.notification-component{
  top: 12px;
  right: 5px;
}




.module-sec-tools{
  width: 100% !important;
  border-top:1px solid red;
}
.module-sec-tools .ctn .users-filter-nav{
  width: 100%;
}



.t-result-ctn{
  padding: 10px;
    max-height: 250px;
    overflow: auto;
}


.users-add-btn{
  font-size: 18px;
    position: absolute;
    top: -34px;
    right: 17px;
}



.sub-menu-ctn-mobil{
  background-color: black;
}

.sub-menu-mobil li a{
  color: white;
}


.message-box button{
  font-size: 14px;
}


.users-forms-ctn{
  width:95%;
  background-color: white;
  transform: translate(-50%, -11%);
}
.form-create-user .title, .form-create-rol .title{
  padding: 0px 10px;
}
.users-close-forms-ctn-btn{
  position: absolute;
  right: 14px;
  top: 14px;
}
.btn-ctr-form-user, .btn-ctr-form-rol{
  padding: 16px;
  margin: 5px 0px;
  font-size: 15px;
  width: 100%;
  background-color:transparent;
}
.users-info-table-btns-ctn{
  margin:auto;
}

.form-create-user .text-box{
 margin: 1px 0px;
}


.registros-tools{
  top:38px;
}
.registros-tools .ctn-col-thirds{
  background-color: white;
}
.dataTables_filter label{
  width: 100%;
  margin-left: -100px;
}
.dataTables_filter input[type="search"]{
  padding: 5px !important;
    border: 1px solid #ddd;
    width: 230px;
}





.backups-main-ctn {
  width: 95%;
  margin: auto;
  padding: 30px 0px;
  /* text-align: left; */
  height: 400px;
  overflow: auto;
}
.backups-main-ctn .ctn-col-7, .backups-main-ctn .ctn-col-3{
  width: 100%;
}
.backups-programmer-ctn{
  width: 100%;
  margin-top: 10px;
}


.notification-component .notification-status-table-main-ctn {
  position: absolute;
  background-color: white;
  box-shadow: 0px 1px 2px #ccc;
  right: 15px;
  flex-wrap: nowrap;
  display: none;
  width: 280px;
}